description: > # this means to ignore newlines until "baseurl:"
  The premier Erlang, Elixir and Gleam conference in Canada - full day of first-rate BEAM-related talks.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://codebeamvancouver.com" # the base hostname & protocol for your site

logo: "./assets/images/CBL Vancouver 2025 logo-white.png"

# google_site_verification: googleXXXXXXXXXXXXXXXX.html

include: [archive]

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag

# Social networks usernames (many more available: google-plus, flickr, dribbble, pinterest, instagram, tumblr, linkedin, etc.)
social:
  - title: twitter
    url: https://twitter.com/codebeamio
    username: codebeamio
    card: image
  - title: bluesky
    url: https://bsky.app/profile/codebeam.bsky.social
    username: codebeamio
    card: image

# Build settings
markdown: kramdown
permalink: pretty

collections:
  participants:
    output: true
  testimonials:
    output: true
  keynotes:
    output: true
  trainers:
    output: true
  trainings:
    output: true
  talks:
    output: true
  posts:
    output: true
  videos:
    output: true
#  archive:
#    output: true
  tickets:
    output: true

defaults:
  - scope:
      path: ""
      type: "participants"
    values:
      layout: "participant"
  - scope:
      path: ""
      type: "trainings"
    values:
      layout: "training"
  - scope:
      path: ""
      type: "talks"
    values:
      layout: "talk"
  - scope:
      path: ""
      type: "keynotes"
    values:
      layout: "talk"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "videos"
    values:
      layout: "video"
#  - scope:
#      path: ""
#      type: "archives"
#    values:
#      layout: "archive"
  - scope:
      path: ""
    values:
      layout: "default"

# Google Map JS api
# This is my api for this template
key-api: AIzaSyBf-F7nBzxi_73uI9QUxRQ-cNihYtlZ_AA
map-text: VIFF Centre
map-text-location: 1181 Seymour St, Vancouver, BC V6B 3M7, Canada
map-lat: 49.27720036291845
map-lng: -123.12486361641874
