<div
  class="section welcome"
  id="cft"
  style="background-image: url('{{site.baseurl}}/assets/images/background-gradient.png'); background-size: 100% 100%;"
>
  <h2 class="title">CALL FOR TALKS</h2>
  <br>
  <div class="call-for-talks">
    <h3 class="text-title mb-1" style="color: #ffffff">
    Be a part of Code BEAM Lise Vancouver 2026: join us as a speaker.
    </h3>
    <p class="text-content mb-2" align="left" style="color: white">
       <br>
      Have you made an interesting innovation, open-source application or product?<br>
      Have you used Gleam, Erlang or Elixir in a real-world project and want to present a case study? Tell us about it! <br>
      We welcome proposals about Erlang, Elixir, Gleam and other BEAM-based technologies.<br /><br />
      We are looking for great talk ideas around the 7 themes of:
    </p>
    <ul class="text-content mb-2" style="color: white; margin: 0; padding-left: 1.2em; list-style-position: outside;">
      <li>
        Production-Grade AI on the BEAM
      </li>
      <li>
        The Rise of Gleam
      </li>
      <li>
        Next-Generation Distributed Systems
      </li>
      <li>
        Cloud-Native BEAM
      </li>
      <li>
        The BEAM Everywhere: Interoperability & Portability
      </li>
      <li>
        Scaling Our Teams & Technology
      </li>
      <li>
        Evolving Legacy: Refactoring & Modernisation
      </li>
    </ul>
    <p class="text-content mb-5" align="center" style="margin-top: 3em">
    <a
      class="page-scroll btn-outline btn-purple mb-5 btn-purple"
      href="https://docs.google.com/forms/d/e/1FAIpQLSfCiyfZBn4RiHF_3UvOqeuDevUjPO7FvZTuzOMRnE9o0udAGg/viewform?usp=dialog" target="_blank"
      >SUBMISSION FORM</a>
    </p>
  </div>
</div>
