<div class="section welcome" id="cft">
    <h2 class="title">CALL FOR TALKS</h2>
  <hr />
  <br />
  <div class="call-for-talks">
    <h3 class="text-title mb-1" style="color: #ffffff">
      Be a part of Code BEAM List Stockholm 2025: join us as a speaker. <br>
      Have you made an interesting innovation, open-source application or product?<br>
      Have you used Erlang or Elixir in a real-world project and want to present a case study? Tell us about it! <br>
      We welcome proposals about Erlang, Elixir, Gleam and other BEAM-based technologies.
    </h3>
    <p class="text-content mb-2" align="left" style="color: white">
      This year we’re accepting talks from people who are happy to deliver them
      in-person and we are happy to support candidates from
      under-represented groups in the software development community. </b><br />
    </p>
    <ul class="text-content mb-2" align="left" style="color: white">
      We are looking for great talk ideas around the 4 themes of:
      <li>
        Innovation - the latest from the ecosystem, be it cool hacks or proof of concept projects, complete new frameworks and techniques, or even promising future directions for BEAM-powered tech.
      </li>
      <li>
        Growth - how your team and your tools work together to overcome technical and other types of challenges to take your business to the next level, such as optimizing tricky business cases, on-boarding new members, or adopting new technologies.
      </li>
      <li>
        Sustainability - everything that helps you stay productive, such as DevOp practices that help you manage how your software behaves in the actual production environment, or techniques and tools for fighting technical debt.
      </li>
      <li>
        Legacy - first-person accounts, holistic overviews or specific case reviews of rich heritage, and how they are helping shape the future of the ecosystem.
      </li>
    </ul>
    <a
      class="page-scroll btn-outline btn-purple mb-5 btn-purple"
      href="https://sessionize.com/code-beam-lite-stockholm-2025"
      >CLOSED</a>
  </div>
</div>
