<div class="section welcome" id="diversity">
    <h2 class="title">GLOBAL COMMUNITY SUPPORT</h2>
    <hr/>
    <p class="text-content">
    Thanks to Hiive, we’re launching a Global Community Support Programme for Code BEAM Lite Vancouver! The programme helps broaden access to the conference, offering support to individuals, startups, and those transitioning to Erlang and Elixir. It provides opportunities to gain insights, connect with the community, and explore the latest in BEAM technologies. The programme aims to empower those who may not otherwise be able to attend, offering support and access to the latest insights in the Erlang ecosystem.</a>
    </p>
    <p class="text-content mb-2" align="center" style="margin-top:3em">
    <a class="page-scroll btn-outline btn-orange mb-2 btn-orange" href="https://forms.gle/xBBbbGSQ9NzgPT5i9">Apply</a>
</div>
