<div class="section mentoring" id="mentoring">
    <div class="row">
        <div class="left-content left">
          <h2 class="title">MENTORING WITH ROBERT VIRDING</h2>
          <hr/>
          <p>Want to take your project to the next level? Looking for a unique leg up to grow your career? Looking for a world-class expert to run a little pair programming? Could personalised advice from one of the co-creators of Erlang help you?

<br/><br/>As co-creator of Erlang, Robert Virding needs very little introduction. He is a developer with a unique understanding of the BEAM, OTP and priceless experience when it comes to building world-class solutions. For the very first time, he's running bespoke mentoring sessions. Sessions can be booked as an individual or in a team of up to three people.

<br/><br/>Sessions will run for 2 hours on 11 May 2023 and will be led by you. You'll have the entire session to get feedback, advice and run pair programming with one of the most experienced developers on the planet.

<br/><br/>NOTE: This is strictly limited to 4 sessions. Book fast to avoid missing out. </p>


          </p>
          <p class="text-content mb-5" align="center" style="margin-top:3em">
              <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://www.eventbrite.com/e/code-beam-lite-stockholm-2023-tickets-416821172347">BOOK TRAINING</a>
          </p>
        </div>
        <div class="logo">
          <br/>
          <img src="/assets/images/RobertV.jpg" alt="mentoring" style="display:block; width:80%; margin-left: auto; margin-right: auto">
        </div>
    </div>
</div>
