<div class="section schedule" id="schedule">
    <h2 class="title">SCHEDULE</h2>
     <hr/>
    <br><br><br><br>
    <div style="width: 80%; margin: 0 auto;">
        <table style="width: 100%; border-collapse: collapse; background-color: #000; color: #fff;">
            <thead>
                <tr>
       <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Time</th>
    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Talk/Activity</th>
     <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Speaker</th>
                </tr>
            </thead>
            <tbody>
                <tr>
          <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">8:30 AM - 9:00 AM</td>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Registration</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
     <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">9:00 AM - 9:10 AM</td>
         <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Welcome to the Conference</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
     <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">9:15 AM - 9:45 AM</td>
             <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamvancouver.com/talks/redistributing-our-systems/" style="color: #4EB813; text-decoration: none;"> Redistributing Our Systems: Erlang's Enduring Lessons for Local-First</a>
             </td>
             <td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamvancouver.com/participants/Robert-Virding/" style="color: #0074A9; text-decoration: none;"> Robert Virding</a>
               <span style="color: #D3D3D3;"> & </span>
               <a href="https://codebeamvancouver.com/participants/brooklyn-zelenka/" style="color: #0074A9; text-decoration: none;">Brooklyn Zelenka</a>
             </td>
                </tr>
                <tr>
<td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">9:50 AM - 10:20 AM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamvancouver.com/talks/agentic-elixir/" style="color: #4EB813; text-decoration: none;"> Agentic Elixir</a> </td>
                    <td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamvancouver.com/participants/andrea-leopardi/" style="color: #0074A9; text-decoration: none;"> Andrea Leopardi</a> </td>
                </tr>
                <tr>
    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">10:20 AM - 10:50 AM</td>
                 <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Coffee Break</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
          <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">10:50 AM - 11:20 AM</td>
        <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamvancouver.com/talks/sparking-joy/" style="color: #4EB813; text-decoration: none;"> Sparking Joy - Tidying up GraphQL schemas with custom DSLs/a> </td>
<td style="border: 1px solid #fff; padding: 10px;">
    <a href="https://codebeamvancouver.com/participants/nicholas-geraedts/" style="color: #0074A9; text-decoration: none;">Nicholas Geraedts</a>
</td>
               </tr>
                <tr>
        <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">11:25 AM - 11:55 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamvancouver.com/talks/migrating-live-processes-with-zenoh-in%20widely-distributed-network/" style="color: #4EB813; text-decoration: none;"> Migrating live processes with Zenoh in widely distributed network</a> </td>
                    <td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamvancouver.com/participants/yutaka-kikuchi/" style="color: #0074A9; text-decoration: none;"> Yutaka Kikuchi</a> </td>
                </tr>
                <tr>
        <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">12:00 PM - 12:30 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamvancouver.com/talks/concurrency-understanding-the-BEAM-limits/" style="color: #4EB813; text-decoration: none;"> Concurrency, understanding the BEAM limits</a> </td>
                    <td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamvancouver.com/participants/lorena-mireles/" style="color: #0074A9; text-decoration: none;"> Lorena Mireles</a> </td>
                </tr>
                <tr>
  <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">12:30 PM - 1:30 PM</td>
       <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Lunch</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
      <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">1:30 PM - 2:00 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamvancouver.com/talks/stealing-from-ash/" style="color: #4EB813; text-decoration: none;"> Stealing from Ash: Building Better DSLs in Elixir</a> </td>
<td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamvancouver.com/participants/joseph-koski/" style="color: #0074A9; text-decoration: none;"> Joseph Koski</a> </td>
                </tr>
                <tr>
      <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">2:05 PM - 2:35 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamvancouver.com/talks/erlang-distribution-over-AMQP/" style="color: #4EB813; text-decoration: none;"> Erlang Distribution over AMQP</a> </td>
<td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamvancouver.com/participants/james-aimonetti/" style="color: #0074A9; text-decoration: none;"> James Aimonetti</a> </td>
                </tr>
                <tr>
       <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">2:40 PM - 3:10 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamvancouver.com/talks/le-elixir-into-your-homekit/" style="color: #4EB813; text-decoration: none;"> Let Elixir into your Home(Kit)</a> </td>
<td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamvancouver.com/participants/mat-trudel/" style="color: #0074A9; text-decoration: none;"> Mat Trudel</a> </td>
                </tr>
                <tr>
<td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">3:10 PM - 3:30 PM</td>
<td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Coffee Break</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
     <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">3:30 PM - 4:00 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamvancouver.com/talks/bridging-the-gap-with-lustre-and-universal-components/" style="color: #4EB813; text-decoration: none;"> Bridging the gap with Lustre and Universal Components</a> </td>
                    <td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamvancouver.com/participants/Hayleigh-Thompson/" style="color: #0074A9; text-decoration: none;"> Hayleigh Thompson</a> </td>
                </tr>
                <tr>
     <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">4:05 PM - 4:35 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamvancouver.com/talks/metaprompting/" style="color: #4EB813; text-decoration: none;"> Templating, Meta-programming, and Meta-prompting</a> </td>
    <td style="border: 1px solid #fff; padding: 10px;">
    <a href="https://codebeamvancouver.com/participants/bruce-tate/" style="color: #0074A9; text-decoration: none;">Bruce Tate</a>
    </td>
               </tr>
                <tr>
<td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">4:35 PM - 4:45 PM</td>
 <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Closing Notes</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
            </tbody>
        </table>
    </div>
    </hr>
 </div>
