<div class="section schedule" id="schedule">
    <h2 class="title">SCHEDULE</h2>
     <hr style="border: 1px solid #fff; width: 80%; margin: 0 auto;"/>
    <br><br><br><br>
    <div style="width: 80%; margin: 0 auto;">
        <table style="width: 100%; border-collapse: collapse; background-color: #000; color: #fff;">
            <thead>
                <tr>
       <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Time</th>
    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Talk/Activity</th>
     <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Speaker</th>
                </tr>
            </thead>
            <tbody>
                <tr>
          <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">8:30 AM - 9:00 AM</td>
                    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Registration</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
     <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">9:00 AM - 9:10 AM</td>
         <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Welcome to the Conference</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
     <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">9:15 AM - 10:00 AM</td>
             <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamnyc.com/talks/introducing-tau5/" style="color: #4EB813; text-decoration: none;"> Introducing Tau5 - a New BEAM-Powered Live Coding Platform</a> </td>
                    <td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamnyc.com/participants/sam-aaron/" style="color: #0074A9; text-decoration: none;"> Sam Aaron</a> </td>
                </tr>
                <tr>
<td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">10:05 AM - 10:35 AM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamnyc.com/talks/relearning-how-to-think/" style="color: #4EB813; text-decoration: none;"> Relearning How to Think</a> </td>
                    <td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamnyc.com/participants/mackenzie-morgan/" style="color: #0074A9; text-decoration: none;"> Mackenzie Morgan</a> </td>
                </tr>
                <tr>
    <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">10:35 AM - 11:00 AM</td>
                 <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Coffee Break</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
          <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">11:00 AM - 11:30 AM</td>
        <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamnyc.com/talks/distributed-tracing-on-the-beam/" style="color: #4EB813; text-decoration: none;"> Distributed Tracing on the BEAM</a> </td>
<td style="border: 1px solid #fff; padding: 10px;">
    <a href="https://codebeamnyc.com/participants/zack-kayser/" style="color: #0074A9; text-decoration: none;">Zack Kayser</a>
    <span style="color: #D3D3D3;"> & </span>
    <a href="https://codebeamnyc.com/participants/ethan-gunderson/" style="color: #0074A9; text-decoration: none;">Ethan Gunderson</a>
</td>
               </tr>
                <tr>
        <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">11:35 AM - 12:05 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="http://codebeamnyc.com/talks/fullstack-gleam-static-types-on-the-beam-and-javascript-you-will-love/" style="color: #4EB813; text-decoration: none;"> Fullstack Gleam: Static Types on the Beam and JavaScript You'll Love</a> </td>
                    <td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamnyc.com/participants/brett-kolodny/" style="color: #0074A9; text-decoration: none;"> Brett Kolodny</a> </td>
                </tr>
                <tr>
        <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">12:10 PM - 12:40 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamnyc.com/talks/i-am-new-to-your-language-and-i-am-here-to-abuse-it//" style="color: #4EB813; text-decoration: none;"> I'm new to your language and I'm here to abuse it</a> </td>
                    <td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamnyc.com/participants/thomas-millar/" style="color: #0074A9; text-decoration: none;"> Thomas Millar</a> </td>
                </tr>
                <tr>
  <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">12:40 PM - 1:40 PM</td>
       <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Lunch</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
      <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">1:40 PM - 2:10 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="http://codebeamnyc.com/talks/building-mission-critical-systems-with-elixir//" style="color: #4EB813; text-decoration: none;"> Building Mission Critical Systems with Elixir</a> </td>
<td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamnyc.com/participants/ben-marx/" style="color: #0074A9; text-decoration: none;"> Ben Marx</a> </td>
                </tr>
                <tr>
      <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">2:15 PM - 2:45 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamnyc.com/talks/nx-powered-photo-filters-with-liveview/" style="color: #4EB813; text-decoration: none;"> Nx-powered Photo Filters with LiveView</a> </td>
<td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamnyc.com/participants/paulo-valente/" style="color: #0074A9; text-decoration: none;"> Paulo Valente</a> </td>
                </tr>
                <tr>
       <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">2:50 PM - 3:20 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamnyc.com/talks/migrating-a-legacy-erlang-system-to-elixir-toolchain/" style="color: #4EB813; text-decoration: none;"> Migrating a Legacy Erlang System to Elixir Toolchain</a> </td>
<td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamnyc.com/participants/sergey-aleynikov/" style="color: #0074A9; text-decoration: none;"> Sergey Aleynikov</a> </td>
                </tr>
                <tr>
<td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">3:20 PM - 3:45 PM</td>
<td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Coffee Break</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
     <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">3:45 PM - 4:15 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamnyc.com/talks/evolve-your-developer-skills-with-elixir/" style="color: #4EB813; text-decoration: none;"> From Code to Clarity: Elixir Skills with Visual Thinking</a> </td>
                    <td style="border: 1px solid #fff; padding: 10px;"> <a href="https://codebeamnyc.com/participants/carlo-gilmar/" style="color: #0074A9; text-decoration: none;"> Carlo Gilmar</a> </td>
                </tr>
                <tr>
     <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">4:20 PM - 4:50 PM</td>
                    <td style="border: 1px solid #fff; padding: 10px;"><a href="https://codebeamnyc.com/talks/building-a-highly-available-distributed-streaming-system/" style="color: #4EB813; text-decoration: none;"> Building a Highly Available, Distributed Streaming System Using Only Elixir and The BEAM</a> </td>
               <td style="border: 1px solid #fff; padding: 10px;">
    <a href="https://codebeamnyc.com/participants/flora-petterson/" style="color: #0074A9; text-decoration: none;">Flora Petterson</a>
    <span style="color: #D3D3D3;"> & </span>
    <a href="https://codebeamnyc.com/participants/madison-brown/" style="color: #0074A9; text-decoration: none;">Madison Brown</a>
</td>
               </tr>
                <tr>
<td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">4:55 PM - 5:00 PM</td>
 <td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Closing Notes</td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
                <tr>
<td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">5:00 PM - 6:00 PM</td>
<td style="border: 1px solid #fff; padding: 10px; color: #D3D3D3; font-family: 'Helvetica Neue', sans-serif;">Drinks & Networking </td>
                    <td style="border: 1px solid #fff; padding: 10px;"></td>
                </tr>
            </tbody>
        </table>
    </div>
    </hr>
 </div>
