<div class="section sponsor" id="sponsors">
    <h2 class="title">SPONSORS</h2>
    <hr />

    <!-- <p class="section-text">
        Nulla a tellus at turpis gravida congue non interdum et malesuada fames ac
                                                                                            ante ipsum primis
    </p> -->

    <div class="row sponsors">
        <div class="row sponsors">
            <h2 class="sponsor-title">Global Community Support & Lanyard Sponsor</h2>

            <a href="https://www.hiive.com" target="_blank">
                <img
                    src="{{site.baseurl}}/assets/images/sponsors/Hiive.png"
                    alt="Hiive"
                />
            </a>
            <!--
            <h2 class="sponsor-title">Platinum Sponsor</h2>

            <a href="https://kivra.com/" target="_blank">
                <img
                    src="{{site.baseurl}}/assets/images/sponsors/Kivra_Logo_RGB_Black.png"
                    alt="Kivra"
                    style="display: block; margin-bottom: 50px"
                />
            </a>
            <h2 class="sponsor-title">Gold Sponsor</h2>

            <a href="https://www.baxter.com/" target="_blank">
                <img
                    src="{{site.baseurl}}/assets/images/BaxterLogo08_Blue_Large - Edited.png"
                    alt="Baxter"
                />
            </a>

            <div style="height: 50px">
                <br />
                <br />

                <!-- Sponsors Carousel -->
                <!-- <div id="testimonials-carousel" class="sponsor-testimonial">
      {% for sponsor in site.data.sponsors %}
      <h3 class="name">{{ sponsor.name }}</h3>

      {% endfor %}
    </div> -->
            </div>
        </div>
    </div>
</div>
