<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/Vancouver - Coal Harbour.png');">
    <div class="row">
        <div class="left-content left">
            <h2 class="title">VENUE & ACCOMMODATION</h2>
            <hr/>
            <p class="venue-subtitle">VIFF Centre</p>
            <p class="venue-text">1181 Seymour Street<br>
              Vancouver, BC<br>
              Canada</p>
                <h2 class="venue-subtitle">
                  <strong><a href="https://viff.org/contact/" style="color: #4DBA12" target="_blank">VENUE DETAILS</a><br>
                </h2>
            <hr/>
            <h2 class="venue-subtitle">Accommodation</h2>
            <p class="venue-text">
                                We've arranged a special room allocation at <a href="https://maps.app.goo.gl/bpg2itnDy97N9YZD9" target="_blank">Best Western Premier Chateau Granville Hotel & Suites
                                </a> from $199 per night (excluding taxes & breakfast). <br><br>
                                The hotel:<br>
                                * is just around the corner from the venue (2 minutes away walking). <br>
                                * includes complimentary Wi-Fi, microwave and mini fridge, coffee machine with com-
plimentary tea/coffee, 49” flat screen TV with selection of HD channels, iron & ironing board, private bal-
cony.<br>
              * includes complimentary access to our newly-appointed Fitness Centre.<br>
              * offers gated underground parking<br>
              * includes complimentary Business Centre<br><br>
              You can
            <a href="https://www.bestwestern.com/en_US/book/hotel-rooms.62046.html?groupId=6V8LB6J8" target="_blank">
              book directly through this link</a
                                >. Individual cancellations may be made within the group block, without penalty if received no later
than 21 days (28 February 2026) prior to the arrival date.<br><br>
Breakfast is priced at $25 per person, plus 18% gratuity and 5% GST. Full Canadian
hot breakfast featuring eggs, toast, sausage or bacon, hash browns, and your choice of tea or coffee.
Book breakfast email: sjayalath@chateaugranville.com.
            </p>
        </div>
        <div class="right-content">
            <br/>
            {% include map.html %}
        </div>
    </div>


</div>
