<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/Vancouver - Coal Harbour.png');">
    <div class="row">
        <div class="left-content left">
            <h2 class="title">VENUE</h2>
            <hr/>
            <p class="venue-subtitle">VIFF Centre</p>
            <p class="venue-text">1181 Seymour Street<br>
              Vancouver, BC<br>
              Canada</p>
                <h2 class="venue-subtitle">
                  <strong><a href="https://viff.org/contact/" style="color: #4DBA12" target="_blank">VENUE DETAILS</a><br>
                </h2>

        </div>
        <div class="right-content">
            <br/>
            {% include map.html %}
        </div>
    </div>


</div>
