<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/Palmsalenblack.jpg');">
    <div class="row">
        <div class="left-content left">
            <h2 class="title">VENUE</h2>
            <hr/>
            <p class="venue-subtitle">7A Odenplan</p>
            <p class="venue-text">Norrtullsgatan 6,<br>
                113 29 Stockholm,<br>
                Sweden<br>
              +46 8 586 107 00</p>
                <h2 class="venue-subtitle">
                  <strong><a href="https://7a.se/en/facility/7a-odenplan/" style="color: #4DBA12" target="_blank">VENUE DETAILS</a><br>
                </h2>

        </div>
        <div class="right-content">
            <br/>
            {% include map.html %}
        </div>
    </div>


</div>
