<div class="section welcome" id="welcome">
     <h2 class="title">Learn. Share. Inspire.</h2>
     <hr/>

     <div class="row align-center">
         <div class="left-content flex-end">
             <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" height="400" src="https://www.youtube.com/embed/n48frB1Gays?si=tb7dPdFjX-AC0XJt" data-cookieconsent="marketing" width="100%"></iframe>
         </div>
         <div class="right-content">
             <h3 class="text-title mb-1">The Conference for Erlang, Elixir & Gleam Developers in Canada</h3>

        <p>Meet people and companies using and developing high performance, fault-tolerant and resilient applications that
          scale to billions of users in production in areas like Fintech, eCommerce, IoT, Gaming, Blockchain, Security,
          Machine Learning and more. Come and join us to learn from each other, share knowledge and be inspired all while growing your network of contacts.
<br><br>More advanced developers will appreciate that our programme is packed with cutting-edge thought provoking talks.
At Code BEAM Lite Vancouver we will uncover how BEAM languages are transforming areas like AI, Cloud, Fintech, IoT, Security and beyond!
<br><br>
<p>
Developers of every level can expect to learn from each other, share knowledge all while growing our community reach in Canada.
<br></p>
         </div>
     </div>
 </div>
