<div class="section welcome" id="welcome">
     <h2 class="title">Learn. Share. Inspire.</h2>
     <hr/>

     <div class="row align-center">
         <div class="left-content flex-end">
             <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" height="400" src="https://www.youtube.com/embed/oMfRhvti734" data-cookieconsent="marketing" width="100%"></iframe>
         </div>
         <div class="right-content">
             <h3 class="text-title mb-1">The Conference for Erlang and Elixir Developers in Sweden</h3>

        <p>     Meet people and companies using and developing high performance, fault-tolerant and resilient applications that scale to billions of users in production in areas like Fintech, eCommerce, IoT, Gaming, Blockchain, Security, Machine Learning and more.
Code BEAM Stockholm is in the home of Erlang and has a strong community of developers from the Nordics. Come and join us to learn from each other, share knowledge and be inspired all while growing your network of contacts.
<br><br>More advanced developers will appreciate that our programme is packed with cutting-edge thought provoking talks. At Code BEAM Lite Stockholm we will uncover how BEAM languages are transforming areas like IoT, Fintech, Machine Learning, Blockchain, Security and more!

<br><br>
<p>
Developers of every level can expect to learn from each other, share knowledge all while growing our community reach in the Nordics.
<br></p>
         </div>
     </div>
 </div>
